<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-x-umeng" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>UMSDK</name>
    <keywords>cordova,umeng</keywords>
    <description>友盟</description>
    <license>MIT</license>
    <js-module name="XUmeng" src="www/XUmeng.js">
        <clobbers target="cordova.plugins.XUmeng" />
    </js-module>
    <preference name="UMENG_ANDROID_KEY" />
    <preference name="UMENG_IOS_KEY" />
    <preference name="UMENG_CHANNEL_VALUE" />
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/widget/plugins">
            <feature name="XUmengPlugin">
                <param name="android-package" value="unic.cicoco.cordova.umeng.XUmengPlugin"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="UMENG_CHANNEL" android:value="$UMENG_CHANNEL_VALUE"></meta-data>
            <meta-data android:name="UMENG_APPKEY" android:value="$UMENG_ANDROID_KEY"></meta-data>
        </config-file>
        <framework src="src/android/umeng.gradle" custom="true" type="gradleReference" />
        <source-file src="src/android/MyApplication.java" target-dir="src/unic/cicoco/cordova/umeng" />
        <source-file src="src/android/UmengUtils.java" target-dir="src/unic/cicoco/cordova/umeng" />
        <source-file src="src/android/XUmengPlugin.java" target-dir="src/unic/cicoco/cordova/umeng" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="XUmengPlugin">
                <param name="ios-package" value="CDVXUmeng"/>
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="UmengAppKey">
            <string>$UMENG_IOS_KEY</string>
        </config-file>
        <config-file target="*-Info.plist" parent="UmengChannel">
            <string>$UMENG_CHANNEL_VALUE</string>
        </config-file>
        <header-file src="src/ios/CDVXUmeng.h" />
        <source-file src="src/ios/CDVXUmeng.m" />
        <!-- frameworks -->
        <!-- <framework src="CoreTelephony.framework" />
        <framework src="libz.tbd" />
        <framework src="libsqlite.tbd" />
        <framework src="libc++.tbd" />
        <framework src="SystemConfiguration.framework" /> -->
        <podspec>
            <pods use-frameworks="true">
                <pod name="UMCommon" />
                <pod name="UMDevice" />
                <pod name="UMAPM" />
            </pods>
        </podspec>
    </platform>
</plugin>